.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  color: white;
}

.TopBar {
  order: 1;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.PlotInputForm {
  order:1;
  display: flex;
  flex-direction: column;
}

.DateRangeContainer {
  order:2;
  display: grid;
  grid-template-rows: 40px 40px;
}

.DateElement {
  display: grid;
  grid-template-columns: 80px 170px;
  align-items: baseline;
}

.MainSection {
  order: 2;
  min-width: 1500px;
  min-height: 800px;
  display: flex;
  flex-direction: row;
}

.PlotArea {
  order: 1;
  min-width: 1100px;
  min-height: 800px;
}

.RightMenu {
  order: 2;
  font-size: 40px;
}

.LegendEntryDiv {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.LegendCheckBox {
  width: 20px;
  height: 20px;
}


.PlotInputForm {
  display: flex;
  flex-direction: column;
  width: 800px;
  align-items: center;
}

.SymbolDays {
  flex: 1;
  display: flex;
  min-width: 700px;
  justify-content: center;
}

input[type=text] {
  padding: 10px;
  font-size: 25px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.OptionsContainer{
  flex: 2;
  display: flex;
  flex-direction: row;
  min-width: 900px;
  align-items: baseline;
  justify-content: space-evenly;
}
.StockChecks {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 14px;
}

input[type=checkbox] {
  margin-left: 15px;
  margin-right: 5px;
}

select {
  margin-left: 5px;
  margin-right: 15px;
  font-size: 12px;
}

.StockDropDowns {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 14px;
}

.react-date-picker {
  background-color: white;
}